.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown_content a:hover {
    background-color: #ddd
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown_fav {
    position: relative;
    display: inline-block;
}

.dropdown_content_fav {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown_fav:hover .dropdown_content_fav {
    display: block;
}

.dropdown-content_fav a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content_fav a:hover {
    background-color: #ddd
}

.dropdown-menu>li>a {
    font-weight: bold;
    color: white;
    font-size: 18px;
    padding: 6px 20px;
}

.dropdown-menu {
    padding: 8px 0;
    margin: -5px 0 0;
    font-size: 14px;
    /* border: 1px solid #ccc; */
    /* border: 1px solid rgba(0,0,0,.15); */
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.showPolls {
    display: block
}

.friendListShow {
    display: none;
}

.profile_view {
    display: none;
    background: #055063;
    color: white;
}

.scroll_contant {
    overflow: hidden;
    width: 200px;
    white-space: nowrap;
}

a:hover {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

.nav_li_font {
    font-size: 22px;
    color: white;
    cursor: pointer;
}

.col_padding {
    text-align: center;
    padding: 8px;
    text-transform: capitalize;
    width: 100%;
}

.depart_style {
    text-align: center;
    margin-top: 0px;
    margin-bottom: -3px;
    color: white;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 18px;
    display: block;
}

.depart_icon {
    text-align: center;
    margin-top: 0px;
    margin-bottom: -3px;
    color: white;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 18px;
    display: none;
}

.scroll123 {
    display: flex;
    overflow-x: hidden;
}

.drop_ind {
    top: -15px;
    position: relative;
    float: right;
    right: 3px;
}

.depart {
    background: #cde0f3;
    height: 45px;
}

@media only screen and (min-width: 700px) {
    .depart {
        background: #cde0f3;
        height: 58px;
    }
}

.category_tab {
    background: #619919;
}

.divide_menu {
    text-align: center;
    margin-top: 9px;
    margin-bottom: 9px;
    color: black;
    text-transform: capitalize;
}

.divide_border {
    border: 2px solid #013775;
}

.submenu_ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 2;
}

.search_input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #2771e0;
    width: 100%;
    font-size: 25px;
    color: #2771e0;
    outline: none;
    padding-right: 41px !important;
}

.search_input_category {
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    width: 100%;
    font-size: 25px;
    color: white;
    outline: none;
    padding-right: 41px !important;
}

.menu_icons {
    color: white;
    font-size: 36px;
    margin-top: 82px;
    padding: 13px;
    float: right;
}

#custom-search {
    margin-top: 10px;
    padding: 0px;
    margin: 3px 54px 10px;
}

#custom-search .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search button {
    border: 0;
    font-size: 25px;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -36px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: white;
}

.search-query:focus+button {
    z-index: 3;
}

.news_img_size {
    width: 100%;
    height: 190px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: white;
}

@media only screen and (max-width: 500px) {
    .news_img_size {
        width: 100%;
        height: 190px;
    }
    .menu_icons {
        color: white;
        font-size: 19px;
        margin-top: -12px;
        padding: 13px;
        float: right;
    }
    .divide_menu {
        text-align: center;
        margin-top: 9px;
        margin-bottom: 9px;
        color: black;
        font-size: 12px;
        text-transform: capitalize;
    }
    .scroll123 {
        overflow-x: scroll;
        display: -moz-inline-box !important;
        height: 47px;
        display: -webkit-box;
        overflow-y: hidden;
    }
    .col_padding {
        text-align: center;
        padding: 8px;
        text-transform: capitalize;
        width: 25%;
    }
    #custom-search {
        margin-top: 10px;
        padding: 0px;
        margin: 0px 0px 0px;
    }
    .search_input {
        background: transparent;
        border: none;
        border-bottom: 2px solid #2771e0;
        width: 117%;
        font-size: 15px;
        color: #2771e0;
        padding-right: 31px !important;
    }
    .depart_style {
        text-align: center;
        margin-top: 6px;
        margin-bottom: -3px;
        color: white;
        font-weight: 600;
        text-transform: capitalize;
        font-size: 9px;
        display: none;
    }
    #custom-search button {
        border: 0;
        font-size: 15px;
        background: none;
        padding: 1px 5px;
        margin-top: 2px;
        position: relative;
        left: -27px;
        /* margin-bottom: 0; */
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: white;
    }
    .depart_icon {
        margin-left: 13%;
        margin-top: 0px;
        margin-bottom: -3px;
        color: white;
        font-weight: 600;
        text-transform: capitalize;
        font-size: 18px;
        display: block;
    }
    .submenu_ul li a {
        color: white;
        text-decoration: none;
        font-size: 12px;
        line-height: 1.5;
    }
}


/* -----  hamburger ---- */


/* hamburger */

a:hover {
    text-decoration: none;
}

.department_menu {
    background: #619919;
    cursor: pointer;
    border-bottom-right-radius: 67px;
    border-bottom-left-radius: 74px;
    padding: 0px 0px 0px;
}

.divide_menu {
    text-align: center;
    margin-top: 9px;
    margin-bottom: 9px;
    color: black;
    text-transform: capitalize;
}

.department_menu_drop {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 6px 0px 0px;
    background: #619919;
    cursor: pointer;
}

.india_color {
    background: #cde0f3;
    display: none;
}


/*----court---*/

.select_box {
    width: 100%;
    background: linear-gradient(#ffe45c, #ffae26);
    border: 1px solid #ffaa22;
}

.polls_section {
    border-radius: 10px;
    box-shadow: 0px 5px 10px 10px #0a0a0a42;
    ;
    padding: 15px
}

.user_head {
    float: left;
    font-weight: 600;
    font-size: 16px;
    color: grey;
}

.icon_flip {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.pro_image {
    width: 50px;
    border-radius: 50%
}

.court_scroll {
    overflow-x: none;
}

.poll_img {
    padding-left: 34px;
}

.news_padding {
    padding-right: 10px;
    padding-left: 55px;
}

@media only screen and (max-width: 700px) {
    .court_scroll {
        overflow-x: scroll;
        display: flex;
    }
    .poll_img {
        padding-left: 0px;
    }
    .news_padding {
        padding-right: 50px;
        padding-left: 0px;
    }
}

.txt_center {
    text-align: center;
}

.news_img {
    width: 100%;
    max-height: 189px;
}

.profile_news_img {
    width: 309px;
    max-height: 180px;
}

.dialog_width {
    width: 80%
}

.profile_module {
    overflow-y: scroll;
    overflow-x: none;
    height: 553px;
    padding-right: 36px;
    padding-top: 24px;
    padding-left: 0px;
    margin-left: 0px;
}

@media only screen and (max-width: 600px) {
    .news_img {
        width: 247px;
        max-height: 189px;
    }
    .profile_news_img {
        width: 198px;
        max-height: 180px;
    }
    .dialog_width {
        width: 94%
    }
    .profile_module {
        margin-left: -38px;
        display: flex;
        overflow-x: scroll;
        height: 553px;
        padding-right: 36px;
        padding-top: 24px;
        padding-left: 0px;
    }
}


/*----court---*/

.flag_img {
    padding: 31px 8px 0px 0px;
}


/* :: placeholder {
  font-size: 40px;
} */

.search_input::-webkit-input-placeholder {
    color: #2771e0;
}

.search_input::-moz-placeholder {
    color: #2771e0;
}

.menu_icons {
    color: white;
    font-size: 36px;
    margin-top: 82px;
    padding: 13px;
    float: right;
}

#custom-search-input {
    margin: 0;
    margin-top: 70px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
}

#custom-search-input button {
    border: 0;
    font-size: 25px;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -36px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #2771e0;
}

.search-query:focus+button {
    z-index: 3;
}

.input_left {
    position: absolute !important;
    left: 93% !important;
}

.head_img {
    width: 100px;
}

.depart_style_drop {
    margin-left: 50%;
    margin-top: 0px;
    margin-bottom: -3px;
    color: white;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 18px;
}

.log_sign {
    z-index: 55;
    position: absolute;
    margin-left: 88%;
    float: right;
    top: 18px;
    font-weight: 600;
    color: white;
    font-size: 19px;
}

.back_height {
    height: 59px;
}

.width100 {
    width: 100%;
}

.court_con_padding {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.court_div {
    padding-right: 50px;
    margin-left: -20px;
}

.discussion_pad {
    padding-left: 30px;
    padding-right: 30px;
}

.fav_img_margin {
    margin-top: 6px;
    margin-left: -15px;
}

.fav_img_size {
    width: 44px;
    height: 37px;
}

.enact_btn {
    width: 55%;
    height: 45px;
    margin-top: 4px;
    font-weight: 500;
    background: linear-gradient(#ebf904, #ff9703);
    font-size: 24px;
}

.enact_div {
    display: flex;
    float: right;
    top: 0px;
}

@media only screen and (max-width: 500px) {
    .enact_div {
        display: flex;
        float: right;
        top: 7px;
    }
    .enact_btn {
        width: 56%;
        height: 30px;
        margin-top: 0px;
        font-weight: 500;
        background: linear-gradient(#ebf904, #ff9703);
        font-size: 13px;
    }
    .fav_img_size {
        width: 25px;
        height: 30px;
    }
    .discussion_pad {
        padding-left: 0px;
        padding-right: 0px;
    }
    .court_div {
        padding-right: 0px;
        margin-left: -20px;
    }
    .court_con_padding {
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .back_height {
        height: 44px;
    }
    .log_sign {
        z-index: 55;
        position: absolute;
        margin-left: 63%;
        float: right;
        top: 3px;
        font-weight: 600;
        color: white;
        font-size: 11px;
    }
    .menu_icons {
        color: white;
        font-size: 19px;
        margin-top: -12px;
        padding: 13px;
        float: right;
    }
    #custom-search-input {
        margin: 0;
        margin-top: -10px;
        padding: 0;
    }
    .input_left {
        left: 20%;
    }
    #custom-search-input button {
        border: 0;
        font-size: 17px;
        background: none;
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: 2px;
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: #2771e0;
    }
    .head_img {
        width: 50px;
    }
    .flag_img {
        padding: 10px 8px 0px 0px;
    }
    .depart_style_drop {
        margin-left: 49%;
        margin-top: 0px;
        margin-bottom: -3px;
        color: white;
        font-weight: 600;
        text-transform: capitalize;
        font-size: 18px;
    }
}

.gov_toggle {
    display: block;
}

.toggle_gov {
    display: none;
}

.toggle_text {
    color: black;
    float: right;
    margin: -7px -10px 0px 11px;
}


/* <!-------tooltip--------> */

.tooltip {
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}

.stickySideBar {
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 1;
}


/* <!-------sidebar--------> */

.toggle_move {
    margin-left: 210px !important;
    transition: .5s;
}

.toggle_move_back {
    margin-left: 0px;
    transition: .5s;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: 0px;
    display: block;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
    top: 25px;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}


/* @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"; */

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #013775;
    color: #fff;
    transition: all 0.3s;
    position: absolute;
    z-index: 2;
    margin-left: -250px;
    margin-top: 0px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
    width: 100%;
    font-size: 22px;
    color: white;
    cursor: pointer;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 16px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    position: absolute;
    z-index: 5;
}

@media only screen and (max-width: 500px) {
    .toggle_move {
        margin-left: 40px !important;
        transition: .5s;
    }
}


/*--------------new css-------------*/


/*!
* bootstrap-vertical-tabs - v1.1.0
* https://dbtek.github.io/bootstrap-vertical-tabs
* 2014-06-06
* Copyright (c) 2014 Ä°smail Demirbilek
* License: MIT
*/

.tabs-left,
.tabs-right {
    border-bottom: none;
    padding-top: 2px;
}

.tabs-left {
    border-right: 1px solid #ddd;
}

.tabs-right {
    border-left: 1px solid #ddd;
}

.tabs-left>li,
.tabs-right>li {
    float: none;
    margin-bottom: 2px;
}

.tabs-left>li {
    margin-right: -1px;
}

.tabs-right>li {
    margin-left: -1px;
}

.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
    border-bottom-color: #ddd;
    border-right-color: transparent;
}

.tabs-right>li.active>a,
.tabs-right>li.active>a:hover,
.tabs-right>li.active>a:focus {
    border-bottom: 1px solid #ddd;
    border-left-color: transparent;
}

.tabs-left>li>a {
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    display: block;
}

.tabs-right>li>a {
    border-radius: 0 4px 4px 0;
    margin-right: 0;
}

.vertical-text {
    margin-top: 50px;
    border: none;
    position: relative;
}

.vertical-text>li {
    height: 20px;
    width: 120px;
    margin-bottom: 100px;
}

.vertical-text>li>a {
    border-bottom: 1px solid #ddd;
    border-right-color: transparent;
    text-align: center;
    border-radius: 4px 4px 0px 0px;
}

.vertical-text>li.active>a,
.vertical-text>li.active>a:hover,
.vertical-text>li.active>a:focus {
    border-bottom-color: transparent;
    border-right-color: #ddd;
    border-left-color: #ddd;
}

.vertical-text.tabs-left {
    left: -50px;
}

.vertical-text.tabs-right {
    right: -50px;
}

.vertical-text.tabs-right>li {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.vertical-text.tabs-left>li {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}


/*------------profile-----------*/

.add_collage {
    border: 2px dashed #79c5f1;
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
}

.collage_font {
    color: #79c5f1;
    font-weight: 600
}

.pro_show {
    /*display:none;*/
}

.collage_cancel {
    margin-right: 15px;
    margin-top: -20px;
    float: right;
    color: gray;
    font-weight: 500;
    display: none;
    cursor: pointer;
}

.dekhoNone {
    display: none;
}

.tagging_view {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -22px;
    background: #dd7518;
    color: white;
    padding: 5px;
    margin-left: 10px;
    text-align: center;
}

.tagging_cross {
    float: right;
    padding: 3px;
}


/* goverment news deskboard*/

.marg_top_20 {
    margin-top: -20px;
}

.plusmarg_top_5 {
    margin-top: 5px;
}

.width33 {
    width: 33.3%
}

.width34 {
    width: 33.4%
}

.pad_top20 {
    padding-top: 20px
}
