<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <ul class="dept-list">
                <li><a href="#">Department of Administrative</a></li>
                <li><a href="#">Department of Biotechnology</a></li>
                <li><a href="#">Department of Commerce</a></li>
                <li><a href="#">Department of Industrial</a></li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>