<div class="header">
  <div class="innerHeader hFlex hRow">
      <div class="container">
        <div class="row">
          <div class="col-sm-2 text-center">
            <a href="/" title="My Dashboard"><img src="assets/img/logo.PNG" class="img img-responsive" style="height: 50px;"/></a>
            <!-- <app-country-flag-display></app-country-flag-display>-->
          </div>
          <div class="col-sm-4">
            <form class="header-search-form">
              <input class="form-control" type="text" placeholder="Search on Writer's Hub"/>
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
          <div class="col-sm-6">
            <ul class="header-navigations">
              <li class="nav-item">
                <a href="#" title="Add Post"><i class="fa fa-plus"></i></a>
              </li>
              <li class="nav-item">
                <a href="#" title="Notifications"><i class="fa fa-bell"></i></a>
              </li>
              <li class="nav-item">
                <a href="#" title="Home"><i class="fa fa-home"></i></a>
              </li>
              <li>
                <app-header-profile-icon></app-header-profile-icon>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>
  <!-- -->
</div>
