<div class="container-fluid" style="background: #153e73; padding: 10px 0;">
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6 text-center">
          <img src="assets/img/logo.PNG" class="img img-responsive" style="width: 220px;"/>
          <app-country-flag-display></app-country-flag-display>
        </div>
        <div class="col-sm-6 text-center">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/PM_Modi_2015.jpg/220px-PM_Modi_2015.jpg" class="img img-thumbnail" style="width: 80px;"/>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6" style="padding-top: 50px;">
          <div style="position: relative; height: 100%;">
              <form class="header-search-form">
                <input class="form-control" type="text" placeholder="Search on worldvoting.org"/>
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
          </div>
        </div>
        <div class="col-md-6 text-center" style="display: inline-grid; grid-template-columns: 70% 30%; padding-top: 50px;">
          <div>
            <ul id="header-right-links">
              <li >
                <a href="#" title="Set Current Location" (click)="setCurrentLocation()"><i class="fa fa-map-marker"></i></a>
              </li>
              <li >
                <a href="#" title="Change Location" (click)="changeLocation()"><i class="fa fa-compass"></i></a>
      
              </li>
              <li class="nav-item">
                <a href="#" title="Notifications"><i class="fa fa-bell"></i></a>
              </li>
              <li class="nav-item">
                <a href="#" title="My Dashboard"><i class="fa fa-user"></i></a>
              </li>
            </ul>
          </div>
          <div>
            <app-header-profile-icon></app-header-profile-icon>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>