<!-- <div class="modal-header">
    <h4 class="modal-title">Create New </h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div> -->

<div class="modal-body">
    <div class="text-center">
        <h3 class=" modal-title" style="font-weight: 600;">ENACT</h3>
    </div>
    <div class="row">

        <div class="col-md-12">

            <form>
                <div class="row" style="background: #a8a7a9;">
                    <h4 style="padding: 9px 0px 0px 20px; font-weight:700">Title</h4>
                    <input type="text" class="form-control" value="" placeholder="Enter Title" style="height:42px;font-size:17px;" />
                    <h4 style="padding: 9px 0px 0px 20px; font-weight:700">Description</h4>
                    <textarea class="form-control" placeholder="Let's change the World" style="height:180px;padding: 26px;font-size: 18px;"></textarea>
                    <div class="col-md-4 col-xs-4" style="padding-right: 0px;padding-left: 0px;">
                        <button class="btn" style="background: #a8a7a9;border-radius:0px;width:100%;border: 1px solid #ccc4d4;">Polls</button>
                    </div>
                    <div class="col-md-4 col-xs-4" style="padding-right: 0px;padding-left: 0px;">
                        <button class="btn" style="border-radius:0px;width:100%;background: #a8a7a9;border: 1px solid #ccc4d4;">Discussion</button>
                    </div>
                    <div class="col-md-4 col-xs-4" style="padding-right: 0px;padding-left: 0px;">
                        <button class="btn" style="border-radius:0px;width:100%;background: #a8a7a9;border: 1px solid #ccc4d4;">News</button>
                    </div>
                </div>
                <div class="row" style="background:#cac1c1;padding:7px">
                    <label for="pollImage" style="margin-left: 10px;"><img src="../assets/images/icon/camera.png"  /></label>
                    <input type="file" style="display:none" id="pollImage">
                    <label for="pollVideo"><img src="../assets/images/icon/video.png" /></label>
                    <input type="file" style="display:none" id="pollVideo">
                    <label for="pollDocument"><img src="../assets/images/icon/notes.png" /></label>
                    <input type="file" style="display:none" id="pollDocument">
                    <img src="../assets/images/icon/anonymous.png" class="btn" value="" style="float:right;width: 57px;height: 47px;margin-top: -8px;" />
                </div>
                <div class="row">
                    <button class="btn " style="width: 100%;height: 45px;font-weight: 500;background: linear-gradient(#ebf904,#ff9703);font-size: 24px;">ENACT</button>
                </div>
            </form>
        </div>
    </div>
</div>
