<!-- <div class="modal-header">
    <h4 class="modal-title">Create New </h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div> -->

<div class="modal-body">
    <div class="text-center">
        <h3 class=" modal-title" style="font-weight: 600;">ENACT</h3>
    </div>
    <div class="alert"
         [ngClass]="{ 'alert-success alert-dismissible': postSubmitAlert == 1,
                      'alert-danger alert-dismissible': postSubmitAlert == -1
                    }"
         *ngIf="postSubmitAlert != 0">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p *ngIf="postSubmitAlert == 1"> <strong>Success!</strong></p>
      <p *ngIf="postSubmitAlert == -1"> <strong>Failed!</strong></p>
    </div>
    <form class="needs-validation" [formGroup]="enactForm" >
        <div class="form-group">
          <input type="text"
                 class="form-control"
                 [ngClass]="{ 'is-invalid': title.invalid && (title.dirty || title.touched),
                              'is-valid': title.valid && (title.dirty || title.touched)
                            }"
                 formControlName="title" required placeholder="Title">
          <div class="invalid-feedback"
               *ngIf="title.errors && (title.dirty || title.touched)">
            <p *ngIf="title.errors.required">Title is required</p>
          </div>
        </div>
        <div class="form-group">
          <textarea  type="text"
                  class="form-control"
                  [ngClass]="{
                               'is-invalid': description.invalid && (description.dirty || description.touched),
                               'is-valid': description.valid && (description.dirty || description.touched)
                             }"
                  formControlName="description" required placeholder="Description">
          </textarea>
          <div class="invalid-feedback"
               *ngIf="description.errors && (description.dirty || description.touched)">
            <p *ngIf="description.errors.required">Description is required</p>
          </div>
        </div>
        <div class="btn-group btn-group-toggle" style="width:100%" ngbRadioGroup name="radioBasic" formControlName="postTypes">
          <label class="btn-secondary col-md-4 col-xs-4" ngbButtonLabel>
            <input type="radio" ngbButton value="polls"> Polls
          </label>
          <label class="btn-secondary col-md-4 col-xs-4" ngbButtonLabel>
            <input type="radio" ngbButton value="discussion"> Discussion
          </label>
          <label class="btn-secondary col-md-4 col-xs-4" ngbButtonLabel>
            <input type="radio" ngbButton value="news"> News
          </label>
        </div>
        <div class="form-group" style="border:4px;border-style:dashed;background:#cac1c1;margin-top:10px">
          <div class="row">
            <div class="col-md-3">
              <label for="pollImage" style="margin-left: 10px;"><img src="../assets/images/icon/camera.png"  /></label>
              <input type="file" style="display:none" (change)="onFileChange($event, 'image')" id="pollImage" accept=".jpg,.jpeg,.png">
            </div>
            <div class="col-md-3">
              <label for="pollVideo"><img src="../assets/images/icon/video.png" /></label>
              <input type="file" style="display:none" (change)="onFileChange($event, 'video')" id="pollVideo" accept=".mp4,.3gp">
            </div>
            <div class="col-md-3">
              <label for="pollDocument"><img src="../assets/images/icon/notes.png" /></label>
              <input type="file" style="display:none" (change)="onFileChange($event, 'document')" id="pollDocument" accept=".pdf,.doc,.docx">
            </div>
            <div class="col-md-3">
              <img src="../assets/images/icon/anonymous.png" class="btn" value="" style="float:right;width: 57px;height: 47px;margin-top: -8px;" />
            </div>
          </div>
          <div *ngIf="uploadingProgressing">
            <div class="percent">{{uploadProgress}}%</div>
            <div class="progress-bar">
                <div class="uploaded" ng-style="{'width': uploadProgress+'%'}"></div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button class="btn" (click)="postSubmit()" style="width: 100%;height: 45px;font-weight: 500;background: linear-gradient(#ebf904,#ff9703);font-size: 24px;">Let's change the World</button>
        </div>
    </form>
</div>
