<div class="container-fluid" style="text-align:center" *ngIf="showRatingDiv" [@slideInOut]>
  <div class="row">
    <div class="col-md-12">
      <h2> {{ location }} </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" *ngIf="areaRatingVariables.goodPercent != 0 || areaRatingVariables.badPercent != 0">
      <div>
        <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [colors]="pieChartColors"
            [options]="pieChartOptions"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
    <div class="col-md-12" *ngIf="areaRatingVariables.goodPercent == 0 && areaRatingVariables.badPercent == 0">
      <h4>No Data Available</h4>
    </div>
  </div>
  <div class="row" *ngIf="!areaRatingVariables.userStatus">
    <div class="col-md-3"> </div>
    <div class="col-md-3">
      <button class="btn goodButton" (click)="areaRate('good')">GOOD</button>
    </div>
    <div class="col-md-3">
      <button class="btn badButton" (click)="areaRate('bad')">BAD</button>
    </div>
    <div class="col-md-3"> </div>
  </div>
</div>

<div class="row downArrow" [ngStyle]="{'background': barBackgroundColor}">
  <div class="col-md-12" style="text-align:center">
    <a class="breadcrumb-bar-button" (click)="toggleAreaRatings()"><i [class]="iconForAction"></i></a>
  </div>
</div>
