<div class="container-fluid" style="text-align:center" *ngIf="showRatingDiv" [@simpleFadeAnimation]>
  <div class="row">
    <div class="col-md-12">
      <h2> {{ location }} </h2>
    </div>
  </div>
  <div class="row" style="margin-bottom: 20px;">
    <div class="col-md-3" *ngIf="areaRatingVariables.goodPercent != 0 || areaRatingVariables.badPercent != 0">
        <!-- NO data -->
    </div>
    <div class="col-md-6" *ngIf="areaRatingVariables.goodPercent != 0 || areaRatingVariables.badPercent != 0">
      <div>
        <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [colors]="piechartColors"
            [options]="pieChartOptions"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
    <div class="col-md-3">
      <a (click)="hideAll()" class="close-panel"><i class="fa fa-close"></i></a>
    </div>
    <div class="col-md-12" *ngIf="areaRatingVariables.goodPercent == 0 && areaRatingVariables.badPercent == 0">
      <h4>No data for last 24 hours Available</h4>
    </div>
  </div>
  <div class="row" *ngIf="!areaRatingVariables.userStatus">
    <div class="col-md-3"> </div>
    <div class="col-md-3">
      <button class="btn goodButton" (click)="areaRate('good')">GOOD</button>
    </div>
    <div class="col-md-3">
      <button class="btn badButton" (click)="areaRate('bad')">BAD</button>
    </div>
    <div class="col-md-3"> </div>
  </div>
  <div class="row" *ngIf="areaRatingVariables.userStatus">
    <div class="col-md-12">
      <h4>You can change your vote after 24 Hours.</h4>
    </div>
  </div>
  <div class="row" *ngIf="showNextDiv" [@simpleFadeAnimation] style="margin-top: 50px;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <canvas baseChart width="200" height="200"
           [datasets]="barChartData"
           [labels]="barChartLabels"
           [options]="barChartOptions"
           [legend]="barChartLegend"
           [colors]="barchartColors"
           [chartType]="barChartType"
           (chartHover)="chartHovered($event)"
           (chartClick)="chartClicked($event)"></canvas>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

<div class="row downArrow" [ngStyle]="{'background': barBackgroundColor}">
  <div class="col-md-12" style="text-align:center">
    <a class="breadcrumb-bar-button" (click)="toggleAreaRatings()"><i [class]="iconForAction"></i></a>
  </div>
</div>
