<ul id="grid-fav">

  <li *ngFor="let item of favLocationData">
    <app-fav-location-tile location={{item.address_string}} longitude={{item.longitude}} latitude={{item.latitude}} level={{item.level}}></app-fav-location-tile>
  </li>

  <!-- Add More Option -->
  <!-- <li>
    <a href="#" title="Add New Fav Location">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">
            <i class="fa fa-plus"></i>
          </h3>
        </div>
      </div>
    </a>
  </li> -->
</ul>