<ul id="grid-fav">
  <li><app-fav-location-tile location="Dehradun"></app-fav-location-tile></li>
  <li><app-fav-location-tile location="Delhi"></app-fav-location-tile></li>
  <li><app-fav-location-tile location="Mumbai"></app-fav-location-tile></li>
  <li><app-fav-location-tile location="America"></app-fav-location-tile></li>
  <li><app-fav-location-tile location="Pathankot"></app-fav-location-tile></li>
  <li><app-fav-location-tile location="Thiruvananthapuram"></app-fav-location-tile></li>

  <li><app-fav-location-tile location="Dehradun"></app-fav-location-tile></li>
  <li><app-fav-location-tile location="Delhi"></app-fav-location-tile></li>
  <li><app-fav-location-tile location="Mumbai"></app-fav-location-tile></li>
  <li><app-fav-location-tile location="America"></app-fav-location-tile></li>
  <li><app-fav-location-tile location="Pathankot"></app-fav-location-tile></li>
  <li><app-fav-location-tile location="Thiruvananthapuram"></app-fav-location-tile></li>

  <li><app-fav-location-tile location="Dehradun"></app-fav-location-tile></li>
  <li><app-fav-location-tile location="Delhi"></app-fav-location-tile></li>
  <li><app-fav-location-tile location="Mumbai"></app-fav-location-tile></li>
  <li><app-fav-location-tile location="America"></app-fav-location-tile></li>
  <li><app-fav-location-tile location="Pathankot"></app-fav-location-tile></li>
  <li><app-fav-location-tile location="Thiruvananthapuram"></app-fav-location-tile></li>

  <!-- Add More Option -->
  <!-- <li>
    <a href="#" title="Add New Fav Location">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">
            <i class="fa fa-plus"></i>
          </h3>
        </div>
      </div>
    </a>
  </li> -->
</ul>