<div class="dark-overlay">
    <div class="modal">
      <div class="modal-body">
  
          <button class="close" (click)="closeThisPopup()"><i class="fa fa-close"></i></button>
          <div class="text-center" style="padding:10px 0; color: #ffffff; background: darkmagenta;">
            <h3>India</h3>
          </div>
          <!-- columns -->
          <div class="row">
            <div class="col-md-8" style="">
              <div class="row">
                <div class="col-sm-4">
                  <button class="tab-button">Court</button>
                </div>
                <div class="col-sm-4">
                  <button class="tab-button">News</button>
                </div>
                <div class="col-sm-4">
                  <button class="tab-button">Discussion</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Title</label>
                    <input type="text" placeholder="Title" class="form-control" />
                    <label>Add Media</label>
                    <input type="file" class="form-control" multiple />
                    <label>Description</label>
                    <textarea placeholder="Description" class="form-control"></textarea>
                    <a href="#">Add Option</a>
                    <input type="text" placeholder="Enter Option 1" class="form-control" />
                    <input type="text" placeholder="Enter Option 1" class="form-control" />
                    <input type="text" placeholder="Enter Option 1" class="form-control" />
                    <button class="enact-option" title="Go Anonymous"><i class="fa fa-user-circle-o"></i></button>
                    <button class="enact-option" title="Save as Draft"><i class="fa fa-file"></i></button>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Title</label>
                    <input type="text" placeholder="Title" class="form-control" />
                    <label>Add Media</label>
                    <input type="file" class="form-control" multiple />
                    <label>Description</label>
                    <textarea placeholder="Description" class="form-control"></textarea>
                    <a href="#">Add Option</a>
                    <input type="text" placeholder="Enter Option 1" class="form-control" />
                    <input type="text" placeholder="Enter Option 1" class="form-control" />
                    <input type="text" placeholder="Enter Option 1" class="form-control" />
                    <button class="enact-option" title="Go Anonymous"><i class="fa fa-user-circle-o"></i></button>
                    <button class="enact-option" title="Save as Draft"><i class="fa fa-file"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">

            </div>
          </div>
  
  
      </div>
      
       
    </div>
  </div>