div.dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000008f;
    z-index: 9;
}

div.modal {
    min-width: 250px !important;
    width: 75vw;
    height: 75vh;
    top: 50%;
    left: 50%;
    display: block;
    background: #ffffff;
    border-radius: 0px;
    transform: translate(-50%, -50%);
    color: #000000;
    display: grid;
    grid-template-rows: 10% 90%;
}

.modal-body, .col-sm-4, .col-md-12 {
    padding: 0;
}

.col-md-12 {
    padding-left: 20px;
}

button.tab-button {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button.tab-button:hover {
    background: #bbb9b9;
}

.tab-button-active {
    background: #bbb9b9;
}

.post-tab-area .col-md-4 {
    padding: 0;
}

a {
    color: darkblue;
    text-decoration: underline;
}

.row.edit-area {
    margin: 0;
}

.option-area {
    background: #f0f0f0;
    padding: 15px 0;
}

.option-area-row .col-sm-1 {
    padding: 0;
}

.option-area-row {
    margin: 4px 0;
}

.option-area-row .col-sm-11 {
    padding-left: 0;
}

.option-area-row .col-sm-1 button {
    border: none;
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: pointer;
    color: grey;
}

.option-area a {
    color: #80bdff;
    text-decoration: none;
}

.post-options button {
    border: none;
    background: #f0f0f0;
    cursor: pointer;
    margin: 0 5px;
}

.close {
    margin: 0 5px;
}


#file-upload {
    width: 0;
    height: 0;
    visibility: hidden;
}


.col-md-5 {
    /* padding: 0; */
}

/* Preview */

.preview {
    /* display: grid;
    grid-template-rows: 10% 15% 35% 30% 10%; */
    height: 100%;
    width: 100%;
}

.preview .poll-card-profile-pic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.preview small {
    display: inline-block;
}

.preview button.option {
    width: 100%;
    border: none;
    background: linear-gradient(#ebf904, #ff9703);
    padding: 5px 10px;
    margin: 3px 0;
}

.preview .analytic-button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #8a2be2;
    float: right;
}

.preview .bottom-button {
    color: gray;
}

.preview .card-title {
    font-size: 1.3rem;
}

.preview .col-md-12 {
    overflow: hidden;
}

/* End Preview */