<div class="card">
  <div class="row">
    <div class="col-md-2">
      <img [src]="_post.user.profilepic" class="poll-card-profile-pic" (click)="viewUserProfile(_post.user.id)"/>
    </div>
    <div class="col-md-6">
      <h5 style="margin-bottom: -7px; cursor: pointer;" (click)="viewUserProfile(_post.user.id)">
        {{ _post.user.name }}
      </h5>
      <small> {{ _post.location }}</small>
    </div>
    <div class="col-md-4" style="line-height: 1;">
      <small> {{ _post.postDate }} </small> at
      <br />
      <small> {{ _post.postTime }} </small>
    </div>
  </div>
  <div class="card-body">
    <h3 class="card-title" (click)="openEnactDetails($event)"> {{ _post.title }} </h3>
    <img class="card-img-top" (click)="openEnactDetails($event)" *ngFor="let file of _post.files" [src]="file.filepath" alt="Card image cap">
    <p class="card-text">
      {{ _post.details }}
    </p>
    <div class="row" *ngIf="_post.post_type == 'court' ">
      <div *ngFor="let poll of _polls" class="col-md-12">
        <button class="option" (click)="addPoll( poll.id, poll.post_id )" *ngIf="!_userPollStatus">{{ poll.title }}</button>
        <div class="container" *ngIf="_userPollStatus">
          <span style="color:black"><strong>{{ poll.title }}</strong>{{ '(' + poll.percent + ')' }}</span>
          <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{ 'width': poll.percent }" aria-valuenow="poll.percent" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <br>
      </div>
    </div>

    
    <div class="row">
      <div class="col-md-12">
        <button class="analytic-button"><i class="fa fa-question-circle"></i></button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="analytic-button bottom-button">
          <i class="fa fa-share-alt"></i>
        </button>
      </div>
      <div class="col">
        <button (click)="changeActivityStatus( _post.id, { 'bookmark' : 1 } )" class="analytic-button bottom-button" *ngIf="_post.props.userBookmarkStatus == 0">
          <i class="fa fa-bookmark"></i>
        </button>
        <button (click)="changeActivityStatus( _post.id, { 'bookmark' : -1 } )" class="analytic-button bottom-button bookmarkEnableClass" *ngIf="_post.props.userBookmarkStatus == 1">
          <i class="fa fa-bookmark"></i>
        </button>
      </div>
      <div class="col">
        <button class="analytic-button bottom-button">
          <i class="fa fa-comment"></i>
        </button>
      </div>
      <div class="col">
        <button (click)="changeActivityStatus( _post.id, { 'flag' : 1 } )" class="analytic-button bottom-button" *ngIf="_post.props.userFlagStatus == 0">
          <i class="fa fa-flag"></i>
        </button>
        <button (click)="changeActivityStatus( _post.id,{ 'flag' : -1 } )" class="analytic-button bottom-button flagEnableClass" *ngIf="_post.props.userFlagStatus == 1">
          <i class="fa fa-flag"></i>
        </button>
      </div>
      <div class="col">
        <button class="analytic-button bottom-button">
          <i class="fa fa-signal"></i>
        </button>
      </div>
    </div>
  </div>
</div>
