<div class="container-fluid">
  <!-- Search bar -->
  <div class="row container">
    <div class="col-md-1">
      <!-- <button (click)="toggleSection('enterLocation')" class="app-change-location-enter-location-icon"><i class="fa fa-arrow-down"></i></button> -->
    </div>
    <div class="col-md-9">
      <input type="text" #searchKeyword placeholder="Search Location" class="form-control"/>
    </div>
    <div class="col-md-1">
      <button (click)="searchLocation()" class="app-change-location-search-icon"><i class="fa fa-search"></i></button>
    </div>
    <div class="col-md-1">
      <button *ngIf="userLoggedIn" (click)="toggleSection('listFavLocation')" class="app-change-location-fav-location-icon"><i class="fa fa-star"></i></button>
    </div>
    <!-- <div class="col-md-1">
      <button (click)="toggleSection('enterLocation')" class="app-change-location-enter-location-icon"><i class="fa fa-arrow-down"></i></button>
    </div> -->
  </div>

  <!-- Fav location list grid -->
  <div class="row container-fluid" *ngIf="optionSelected == 'listFavLocation'">
    <div class="fav-location-row">
      <div class="fav-location-row-left-arrow" *ngIf="currentMargin != 0" (click)="moveLeft(toBeMoved)">
        <span><i class="fa fa-angle-left"></i></span>
      </div>
      <div class="row">
        <div class="col-md-12" #toBeMoved>
          <!-- Fav location grid -->
          <span>
            <app-fav-location-list-grid></app-fav-location-list-grid>
          </span>
        </div>
      </div>
      <div class="fav-location-row-right-arrow" (click)="moveRight(toBeMoved)">
        <span><i class="fa fa-angle-right"></i></span>
      </div>
    </div>
  </div>
  
  <!-- Map Background -->
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15" #gm>
    <agm-marker [latitude]="lat" [longitude]="lng"> <!-- (mouseOver)="onMouseOver( infoWindow, gm )" -->
      <agm-info-window [disableAutoPan]="false" #infoWindow>
        <button class="btn" name="button" (click)="saveFavouriteLocation()">
          Add to Favourites
          <i class="fa fa-bookmark"></i>
        </button>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>