agm-map {
    height: 350px;
}

button {
    margin: 0;
    background: #ffffff;
    border: none;
    display: block;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.container-fluid {
    position: relative;
}

.row.container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.col-md-9, .col-md-1 {
    padding: 0;
}

.col-md-9 input {
    border: none;
    border-radius: 0;
}

.col-md-9 input:focus {
    border: none !important;
    box-shadow: none;
}

/* Fav location list grid */
.row.container-fluid {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin: 0;
}

.fav-location-row-right-arrow {
    width: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 130px;
}

.fav-location-row-right-arrow span {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 46px;
    line-height: 2.5;
    color: transparent;
}

.fav-location-row-left-arrow span:hover, .fav-location-row-right-arrow span:hover {
    background: #00000066;
    color: #ffffff;
    font-size: 50px;
    transition: all 0.1s linear;
    cursor: pointer;
    text-align: center;
}

.fav-location-row-left-arrow {
    width: 50px;
    position: absolute;
    z-index: 1;
    height: 130px;
}

.fav-location-row-left-arrow span {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 46px;
    line-height: 2.5;
    color: transparent;
}