<div class="container" style="margin-top: -20px;">
  <div class="container">
    <div class="enact-detail-row">
      <div class="upper-div">
        <div class="row">
          <div class="col">
            <button class="vote-button" (click)="toggleVoteStatus()">Vote</button>
          </div>
          <div class="col">
            <button class="enact-detail-option" (click)="toggleShareStatus()"><i class="fa fa-share-alt"></i></button>
          </div>
          <div class="col">
            <button (click)="changeActivityStatus( post.id, { 'flag' : 1 } )" class="enact-detail-option" *ngIf="post.props.userFlagStatus != 1">
              <i class="fa fa-flag"></i>
            </button>
            <button (click)="changeActivityStatus( post.id,{ 'flag' : -1 } )" class="enact-detail-option flagEnableClass" *ngIf="post.props.userFlagStatus == 1">
              <i class="fa fa-flag"></i>
            </button>
          </div>
          <div class="col">
            <button (click)="changeActivityStatus( post.id, { 'bookmark' : 1 } )" class="enact-detail-option" *ngIf="post.props.userBookmarkStatus != 1">
              <i class="fa fa-bookmark"></i>
            </button>
            <button (click)="changeActivityStatus( post.id, { 'bookmark' : -1 } )" class="enact-detail-option bookmarkEnableClass" *ngIf="post.props.userBookmarkStatus == 1">
              <i class="fa fa-bookmark"></i>
            </button>
          </div>
          <div class="col">
            <button class="enact-detail-option" title="Print" (click)="printThis()"><i class="fa fa-print"></i></button>
          </div>
        </div>
      </div>
      <div class="lower-div">
        <!-- Vote Interface -->
        <div class="row" style="border: 1px solid #dedede;" *ngIf="isVoting">
          <div class="col-md-12" style="padding: 20px 0px;">
            <span *ngFor="let poll of _polls" class="">
              <button class="vote-button-option" (click)="addPoll( poll.id, poll.post_id )" *ngIf="!_userPollStatus">{{ poll.title }}</button>
              <div class="container" *ngIf="_userPollStatus">
                <span style="color:black"><strong>{{ poll.title }}</strong>{{ '(' + poll.percent + ')' }}</span>
                <div class="progress">
                  <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{ 'width': poll.percent }" aria-valuenow="poll.percent" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </span>
          </div>
        </div>

        <!-- Heading Title -->
        <div class="row">
          <div class="col-md-12">
            <h2>{{ post.title }}</h2>
          </div>
        </div>

        <!-- Atachments -->
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12">
              <h6>Attachments: </h6>
              <div class="row">
                <div class="col-md-1">
                  <button class="enact-detail-option"><i class="fa fa-paperclip"></i></button>
                </div>
                <div class="col-md-1">
                  <button class="enact-detail-option"><i class="fa fa-file-text"></i></button>
                </div>
                <div class="col-md-1">
                  <button class="enact-detail-option"><i class="fa fa-file-excel-o"></i></button>
                </div>
                <div class="col-md-1">
                  <button class="enact-detail-option"><i class="fa fa-file-video-o"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>