<div class="row" style="margin-top: -20px; height: 100%;" *ngIf="post != null">
  <div class="col-md-8 enact-detail-row">
    <div class="upper-div">
      <div class="row">
        <div class="col">
          <button class="vote-button" (click)="toggleVoteStatus()">Vote</button>
        </div>
        <div class="col">
          <button class="enact-detail-option" (click)="toggleShareStatus()"><i class="fa fa-share-alt"></i></button>
        </div>
        <div class="col">
          <button (click)="changeActivityStatus( post.id, { 'flag' : 1 } )" class="enact-detail-option" *ngIf="post.props.userFlagStatus != 1">
            <i class="fa fa-flag"></i>
          </button>
          <button (click)="changeActivityStatus( post.id,{ 'flag' : -1 } )" class="enact-detail-option flagEnableClass" *ngIf="post.props.userFlagStatus == 1">
            <i class="fa fa-flag"></i>
          </button>
        </div>
        <div class="col">
          <button (click)="changeActivityStatus( post.id, { 'bookmark' : 1 } )" class="enact-detail-option" *ngIf="post.props.userBookmarkStatus != 1">
            <i class="fa fa-bookmark"></i>
          </button>
          <button (click)="changeActivityStatus( post.id, { 'bookmark' : -1 } )" class="enact-detail-option bookmarkEnableClass" *ngIf="post.props.userBookmarkStatus == 1">
            <i class="fa fa-bookmark"></i>
          </button>
        </div>
        <div class="col">
          <button class="enact-detail-option" title="Print" (click)="printThis()"><i class="fa fa-print"></i></button>
        </div>
      </div>
    </div>
    <div class="lower-div">
      <!-- 5 Votes -->
      <div class="row" style="border: 1px solid #dedede;" *ngIf="isVoting">
        <div class="col-md-12" style="padding: 20px 0px;">
          <span *ngFor="let poll of _polls" class="">
            <button class="vote-button-option" (click)="addPoll( poll.id, poll.post_id )" *ngIf="!_userPollStatus">{{ poll.title }}</button>
            <div class="container" *ngIf="_userPollStatus">
              <span style="color:black"><strong>{{ poll.title }}</strong>{{ '(' + poll.percent + ')' }}</span>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{ 'width': poll.percent }" aria-valuenow="poll.percent" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </span>

        </div>
      </div>

      <div class="row" style="border: 1px solid #dedede;" *ngIf="isSharing">
        <div class="col">
          <div class="fb-share-button" data-href="{{shareLink}}" data-layout="button_count">
          </div>
          <!-- <a href="https://facebook.com/sharer/sharer.php?u={{shareLink}}" target="_blank"><button class="enact-detail-option" title="Share via Facebook"><i class="fa fa-facebook-official"></i></button></a> -->
        </div>
        <div class="col">
          <button class="enact-detail-option" title="Share via Twitter"><i class="fa fa-twitter-square"></i></button>
        </div>
        <div class="col">
          <button class="enact-detail-option" title="Share via Link"><i class="fa fa-link"></i></button>
        </div>
      </div>

      <!-- 1 Title -->
      <div class="row">
        <div class="col-md-12">
          <h3>{{ post.title }}</h3>
        </div>
      </div>

      <!-- 2 Image -->
      <div class="row">
        <div class="col-md-12" *ngIf="post != null && post.files != null">
          <img src="{{ post.files.images[0].filepath }}" style="width: 100%;"/>
        </div>
      </div>

      <!-- 3 Documents -->
      <div class="row" style="padding: 20px 0;">
       <div class="col-md-12">
         <h6>Attachments: </h6>
        <div class="row">
          <div class="col">
            <button class="enact-detail-option"><i class="fa fa-paperclip"></i></button>
          </div>
          <div class="col">
            <button class="enact-detail-option"><i class="fa fa-file-text"></i></button>
          </div>
          <div class="col">
            <button class="enact-detail-option"><i class="fa fa-file-excel-o"></i></button>
          </div>
          <div class="col">
            <button class="enact-detail-option"><i class="fa fa-file-video-o"></i></button>
          </div>
        </div>
       </div>
      </div>

      <!-- 4 Descriptions -->
      <div class="row">
        <div class="col-md-12">
          <p>
              {{ post.details }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="upper-div">
      <div class="row">
        <div class="col">
          <button class="enact-detail-option" style="border-left: 1px solid black;"><i class="fa fa-comment"></i></button>
        </div>
        <div class="col">
          <button class="enact-detail-option" style="border-left: 1px solid black;"><i class="fa fa-signal"></i></button>
        </div>
      </div>
    </div>
    <div class="lower-div">
      <app-comment></app-comment>
    </div>
  </div>
</div>
