.container-fluid {
  position: relative;
}

.search {
  z-index: 10;
  position: relative;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.carousel {
  z-index: 10;
  position: absolute;
  top: 499px;
}

agm-map {
  height: 800px;
}

.search_input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  font-size: 20px;
  width: 23%;
  color: #000000;
  outline: none;
  padding-right: 41px !important;
}

.search_input::-webkit-input-placeholder {
    color: #000000;
    font-weight: 900;
}

.search_input::-moz-placeholder {
    color: #000000;
    font-weight: 900;
}

.search_input:-ms-input-placeholder {
    color: #000000;
    font-weight: 900;
}

.search_input:-o-input-placeholder {
    color: #000000;
    font-weight: 900;
}

.search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
}

.search-query:focus+button {
    z-index: 3;
}

.search-button {
  border: 0;
  font-size: 25px;
  background: none;
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -36px;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #000000;
}
