<div class="container-fluid">
  <div class="input-group search">
    <input type="text" class="search_input search-query" placeholder="Search on worldvoting.org " class="form-control" #search [formControl]="searchControl"/>
    <span class="input-group-btn">
      <button class="btn search-button" type="button">
        <span class="fa fa-search"></span>
      </button>
    </span>
  </div>
  <div class="map">
    <agm-map [latitude]="currentCoordinates.latitude" [longitude]="currentCoordinates.longitude" [zoom]="currentCoordinates.zoom">
      <agm-marker [latitude]="currentCoordinates.latitude" [longitude]="currentCoordinates.longitude"></agm-marker>
    </agm-map>
  </div>
  <div class="carousel">
    <app-carousel>
      <ng-container *ngFor="let item of items;">
        <ng-container *carouselItem>
          <div>{{ item.favouriteLocation }}</div>
        </ng-container>
      </ng-container>
    </app-carousel>
  </div>
</div>
