<div class="dark-overlay">
  <div class="modal">
    <button class="close" (click)="closeThisPopup()"><i class="fa fa-close"></i></button>
    <div class="container-fluid text-center">
      <img src="assets/img/logo.PNG" class="img img-responsive" />
      <h5>Login to your Account</h5>
    </div>
    <form (ngSubmit)="handleFormSubmit()">
      <div class="form-group">
        <!-- <label>Username</label> -->
        <input type="text" [(ngModel)]="username" name="username" class="form-control" placeholder="Username"/>
      </div>
      <div class="form-group">
        <!-- <label>Password</label> -->
        <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Password"/>
      </div>
      <div class="form-group">
        <button type="submit" class="form-control btn btn-secondary">Login</button>
      </div>
    </form> 
  </div>
</div>