<div #feedContainer class="container-fluid">
  <div id="columns">
    <!-- <app-enact-card [post]="post" [loggedIn]="_loggedIn" (showPopUp)="showLoginPopUp($event)"></app-enact-card>
    <app-enact-card [post]="post" [loggedIn]="_loggedIn" (showPopUp)="showLoginPopUp($event)"></app-enact-card>
    <app-enact-card [post]="post" [loggedIn]="_loggedIn" (showPopUp)="showLoginPopUp($event)"></app-enact-card> -->
    <figure *ngFor="let post of enactions">
      <app-enact-card [post]="post" [loggedIn]="_loggedIn" (showPopUp)="showLoginPopUp($event)"></app-enact-card>
    </figure>
  </div>
</div>
<div #loginPopupContainer></div>
