<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <button class="location-tab-button world">World</button>
    </div>
    <div class="col-md-2">
      <button class="location-tab-button country"> {{ country }} </button>
    </div>
    <div class="col-md-2">
      <button class="location-tab-button state"> {{ state }} </button>
    </div>
    <div class="col-md-2">
      <button class="location-tab-button city"> {{ city }} </button>
    </div>
    <div class="col-md-2">
      <button class="location-tab-button locality"> {{ locality }} </button>
    </div>
    <div class="col-md-2">
      <button class="location-tab-button rwa"> {{ rwa }} </button>
    </div>
  </div>
</div>