<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <button class="location-tab-button world">World</button>
    </div>
    <div class="col-md-2">
      <button class="location-tab-button country">Country</button>
    </div>
    <div class="col-md-2">
      <button class="location-tab-button state">State</button>
    </div>
    <div class="col-md-2">
      <button class="location-tab-button city">City</button>
    </div>
    <div class="col-md-2">
      <button class="location-tab-button locality">Locality</button>
    </div>
    <div class="col-md-2">
      <button class="location-tab-button rwa">RWA</button>
    </div>
  </div>
</div>