<!-- <div class="modal-header">
    <h4 class="modal-title">Create New </h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div> -->
<div class="modal-body">
    <div class="container">
        <div class="row">
          <ngb-tabset class="col-md-12">
            <ngb-tab title="Login">
              <ng-template ngbTabContent>
                <div>
                  <h2 class="text-center" style="color: #5cb85c;"> <strong> Login </strong></h2>
                </div>
                <form novalidate [formGroup]="loginform">
                  <div class="form-group has-feedback has-feedback-left"
                       [ngClass]="{
                        'is-invalid': loginemail.invalid && (loginemail.dirty || loginemail.touched),
                        'is-valid': loginemail.valid && (loginemail.dirty || loginemail.touched)
                   }">
                   <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"> <i class="fa fa-lock"></i></span>
      <input type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
    </div>

                    <input type="email" class="form-control" formControlName="loginemail" required placeholder="Email">
                    <div class="invalid-feedback"
                         *ngIf="loginemail.errors && (loginemail.dirty || loginemail.touched)">
                      <p *ngIf="loginemail.errors.required">Email is required</p>
                      <p *ngIf="loginemail.errors.pattern">The email address must contain at least the @ character</p>
                    </div>
                  </div>

                  <div class="form-group"
                       [ngClass]="{
                        'needs-validation': loginpassword.invalid && (loginpassword.dirty || loginpassword.touched),
                        'was-validation': loginpassword.valid && (loginpassword.dirty || loginpassword.touched)
                   }">
                    <input type="password" class="form-control" formControlName="loginpassword" required placeholder="Password">
                    <div class="invalid-feedback"
                         *ngIf="loginpassword.errors && (loginpassword.dirty || loginpassword.touched)">
                      <p *ngIf="loginpassword.errors.required">Password is required</p>
                      <p *ngIf="loginpassword.errors.minlength">Password must be 8 characters long, we need another {{loginpassword.errors.minlength.requiredLength - loginpassword.errors.minlength.actualLength}} characters </p>
                    </div>
                  </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="login()">Login</button>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab class="col-md-12" title="Signup">
              <ng-template ngbTabContent>
                <div>
                  <h2 class="text-center" style="color: #f0ad4e;"> <strong> Register </strong></h2>
                </div>
                <form novalidate [formGroup]="signupform">
                  <div class="row">
                    <div class="form-group col-md-6"
                         [ngClass]="{
                          'is-invalid': firstName.invalid && (firstName.dirty || firstName.touched),
                          'is-valid': firstName.valid && (firstName.dirty || firstName.touched)
                     }">
                      <input type="text" class="form-control" formControlName="firstName" required placeholder="First Name">
                      <div class="invalid-feedback"
                           *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
                        <p *ngIf="firstName.errors.required">First Name is required</p>
                      </div>
                    </div>

                    <div class="form-group col-md-6"
                         [ngClass]="{
                          'is-invalid': lastName.invalid && (lastName.dirty || lastName.touched),
                          'is-valid': lastName.valid && (lastName.dirty || lastName.touched)
                     }">
                      <input type="text" class="form-control" formControlName="lastName" required placeholder="Last Name">
                      <div class="invalid-feedback"
                           *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
                        <p *ngIf="lastName.errors.required">Last Name is required</p>
                      </div>
                    </div>
                  </div>

                  <div class="form-group"
                       [ngClass]="{
                        'is-invalid': signUpEmail.invalid && (signUpEmail.dirty || signUpEmail.touched),
                        'is-valid': signUpEmail.valid && (signUpEmail.dirty || signUpEmail.touched)
                   }">
                    <input type="email" class="form-control" formControlName="signUpEmail" required placeholder="Email">
                    <div class="invalid-feedback"
                         *ngIf="signUpEmail.errors && (signUpEmail.dirty || signUpEmail.touched)">
                      <p *ngIf="signUpEmail.errors.required">Email is required</p>
                      <p *ngIf="signUpEmail.errors.pattern">The email address must contain at least the @ character</p>
                    </div>
                  </div>

                  <div class="form-group"
                       [ngClass]="{
                        'is-invalid': signUpPassword.invalid && (signUpPassword.dirty || signUpPassword.touched),
                        'is-valid': signUpPassword.valid && (loginpassword.dirty || signUpPassword.touched)
                   }">
                    <input type="password" class="form-control" formControlName="signUpPassword" required placeholder="Password">
                    <div class="invalid-feedback"
                         *ngIf="signUpPassword.errors && (signUpPassword.dirty || signUpPassword.touched)">
                      <p *ngIf="signUpPassword.errors.required">Password is required</p>
                      <p *ngIf="signUpPassword.errors.minlength">Password must be 8 characters long, we need another {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters </p>
                    </div>
                  </div>

                  <div class="form-group"
                       [ngClass]="{
                        'is-invalid': signUpConPassword.invalid && (signUpConPassword.dirty || signUpConPassword.touched),
                        'is-valid': signUpConPassword.valid && (signUpConPassword.dirty || signUpConPassword.touched)
                   }">
                    <input type="password" class="form-control" formControlName="signUpConPassword" required placeholder="Confirm Password">
                    <div class="invalid-feedback"
                         *ngIf="signUpConPassword.errors && (signUpConPassword.dirty || signUpConPassword.touched)">
                      <p *ngIf="signUpConPassword.errors.required">Password is required</p>
                      <p *ngIf="signUpConPassword.errors.minlength">Password must be 8 characters long, we need another {{signUpConPassword.errors.minlength.requiredLength - signUpConPassword.errors.minlength.actualLength}} characters </p>
                    </div>
                  </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="activeModal.close('Close click')">Sign Up</button>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
    </div>
</div>
