<!-- <div class="modal-header">
    <h4 class="modal-title">Create New </h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div> -->
<div class="modal-body">
    <div class="container">
        <div class="row">
          <ngb-tabset class="col-md-12">
            <ngb-tab title="Login">
              <ng-template ngbTabContent>
                <div class="formHeading">
                  <h2 class="text-center" style="color: #5cb85c;"> <strong> Login </strong></h2>
                </div>
                <div class="alert"
                     [ngClass]="{ 'alert-success alert-dismissible': loginAlert == 1,
                                  'alert-danger alert-dismissible': loginAlert == -1
                                }"
                     *ngIf="loginAlert != 0">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <p *ngIf="loginAlert == 1"> <strong>Success!</strong> Login Successful. </p>
                  <p *ngIf="loginAlert == -1"> <strong>Failed!</strong> Invalid Login. </p>
                </div>
                <form class="needs-validation" [formGroup]="loginform">
                  <div class="form-group">
                    <input type="email"
                           class="form-control"
                           [ngClass]="{ 'is-invalid': loginemail.invalid && (loginemail.dirty || loginemail.touched),
                                        'is-valid': loginemail.valid && (loginemail.dirty || loginemail.touched)
                                      }"
                           formControlName="loginemail" required placeholder="Email">
                    <div class="invalid-feedback"
                         *ngIf="loginemail.errors && (loginemail.dirty || loginemail.touched)">
                      <p *ngIf="loginemail.errors.required">Email is required</p>
                      <p *ngIf="loginemail.errors.pattern">The email address must contain at least the @ character</p>
                    </div>
                  </div>

                  <div class="form-group">
                    <input  type="password"
                            class="form-control"
                            [ngClass]="{
                                         'is-invalid': loginpassword.invalid && (loginpassword.dirty || loginpassword.touched),
                                         'is-valid': loginpassword.valid && (loginpassword.dirty || loginpassword.touched)
                                       }"
                            formControlName="loginpassword" required placeholder="Password">
                    <div class="invalid-feedback"
                         *ngIf="loginpassword.errors && (loginpassword.dirty || loginpassword.touched)">
                      <p *ngIf="loginpassword.errors.required">Password is required</p>
                      <p *ngIf="loginpassword.errors.minlength">Password must be 8 characters long, we need another {{loginpassword.errors.minlength.requiredLength - loginpassword.errors.minlength.actualLength}} characters </p>
                    </div>
                  </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success width100" (click)="login()">Login</button>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab class="col-md-12" title="Signup">
              <ng-template ngbTabContent>
                <div class="formHeading">
                  <h2 class="text-center" style="color: #f0ad4e;"> <strong> Register </strong></h2>
                </div>
                <div class="alert"
                     [ngClass]="{ 'alert-success alert-dismissible': signupAlert == 1,
                                  'alert-danger alert-dismissible': signupAlert == -1
                                }"
                     *ngIf="signupAlert != 0">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <p *ngIf="signupAlert == 1"> <strong>Success!</strong> SignUp Successful. </p>
                  <p *ngIf="signupAlert == -1"> <strong>Failed!</strong> Invalid SignUp. </p>
                </div>
                <form class="needs-validation" [formGroup]="signupform">
                  <div class="row">
                    <div class="form-group col-md-6">
                      <input type="text"
                             class="form-control"
                             [ngClass]="{
                                          'is-invalid': firstName.invalid && (firstName.dirty || firstName.touched),
                                          'is-valid': firstName.valid && (firstName.dirty || firstName.touched)
                                        }"
                             formControlName="firstName" required placeholder="First Name">
                      <div class="invalid-feedback"
                           *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
                        <p *ngIf="firstName.errors.required">First Name is required</p>
                      </div>
                    </div>

                    <div class="form-group col-md-6">
                      <input type="text"
                             class="form-control"
                             [ngClass]="{
                                          'is-invalid': lastName.invalid && (lastName.dirty || lastName.touched),
                                          'is-valid': lastName.valid && (lastName.dirty || lastName.touched)
                                        }"
                             formControlName="lastName" required placeholder="Last Name">
                      <div class="invalid-feedback"
                           *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
                        <p *ngIf="lastName.errors.required">Last Name is required</p>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <input type="email"
                           class="form-control"
                           [ngClass]="{
                                        'is-invalid': signUpEmail.invalid && (signUpEmail.dirty || signUpEmail.touched),
                                        'is-valid': signUpEmail.valid && (signUpEmail.dirty || signUpEmail.touched)
                                      }"
                           formControlName="signUpEmail" required placeholder="Email">
                    <div class="invalid-feedback"
                         *ngIf="signUpEmail.errors && (signUpEmail.dirty || signUpEmail.touched)">
                      <p *ngIf="signUpEmail.errors.required">Email is required</p>
                      <p *ngIf="signUpEmail.errors.pattern">The email address must contain at least the @ character</p>
                    </div>
                  </div>

                  <div class="form-group">
                    <input type="password"
                           class="form-control"
                           [ngClass]="{
                                        'is-invalid': signUpPassword.invalid && (signUpPassword.dirty || signUpPassword.touched),
                                        'is-valid': signUpPassword.valid && (loginpassword.dirty || signUpPassword.touched)
                                      }"
                           formControlName="signUpPassword" required placeholder="Password">
                    <div class="invalid-feedback"
                         *ngIf="signUpPassword.errors && (signUpPassword.dirty || signUpPassword.touched)">
                      <p *ngIf="signUpPassword.errors.required">Password is required</p>
                      <p *ngIf="signUpPassword.errors.minlength">Password must be 8 characters long, we need another {{signUpPassword.errors.minlength.requiredLength - signUpPassword.errors.minlength.actualLength}} characters </p>
                    </div>
                  </div>

                  <div class="form-group">
                    <input type="password"
                           class="form-control"
                           [ngClass]="{
                                        'is-invalid': signUpConPassword.invalid && (signUpConPassword.dirty || signUpConPassword.touched) || signUpConPassword.value != signUpPassword.value,
                                        'is-valid': signUpConPassword.valid && (signUpConPassword.dirty || signUpConPassword.touched) && signUpConPassword.value == signUpPassword.value
                                      }"
                           formControlName="signUpConPassword" required placeholder="Confirm Password">
                    <div class="invalid-feedback"
                         *ngIf="signUpConPassword.errors && (signUpConPassword.dirty || signUpConPassword.touched) || signUpConPassword.value != signUpPassword.value">
                      <p *ngIf="signUpConPassword.value != signUpPassword.value">Password doesn't match</p>
                      <p *ngIf="signUpConPassword.errors && signUpConPassword.errors.required">Password is required</p>
                      <p *ngIf="signUpConPassword.errors && signUpConPassword.errors.minlength">Password must be 8 characters long, we need another {{signUpConPassword.errors.minlength.requiredLength - signUpConPassword.errors.minlength.actualLength}} characters </p>
                    </div>
                  </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success width100" (click)="signup()">Sign Up</button>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
    </div>
</div>
