<span *ngIf="!loggedIn">
  <a href="#" (click)="showLoginPopup()">
    <i class="fa fa-sign-in"></i>
  </a>
  <div #loginPopupContainer></div>
  <!-- <app-login-popup></app-login-popup> -->
</span>
<span *ngIf="loggedIn" >
  <div class="profile-dropdown">
    <img src="{{ profilePicture }}" (click)="toggleProfileMenu()" class="profile-picture" />
    <div *ngIf="profileMenuOpen" class="profile-menu list-group">
      <a href="#" class="list-group-item" (click)="viewUserProfile(userId)">View Profile</a>
      <a href="#" (click)="logoutAction()" class="list-group-item">Logout</a>
    </div>
  </div>
</span>
