<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <div class="card polls_section">
        <img class="card-img-top" [src]="image" alt="Card image cap" *ngFor="let image of postData.files.images; let j = index">
        <div class="card-body">
          <h3 class="card-text text-info">{{ postData.title }}</h3>
          <div class="row">
            <div class="col-md-4">
                <span (click)="profileModal()" class="cur_point"><img [src]="postData.user.profilepic" class="pro_image"  /></span>
            </div>
            <div class="col-md-8">
              <p class="user_head">{{ postData.user.name }}<br>Place</p>
              <p style="float:right; margin-top:10px;">{{ postData.created }}</p>
            </div>
          </div>
          <!-- File Links to be opened in new Tabs  -->
          <div class="card-body">
              <p>{{postData.details}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="alert"
           [ngClass]="{ 'alert-success alert-dismissible': commentAlert == 1,
                        'alert-danger alert-dismissible': commentAlert == -1
                      }"
           *ngIf="commentAlert != 0">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p *ngIf="commentAlert == 1"> Comment Submitted </p>
        <p *ngIf="commentAlert == -1"> Please Try Again!! </p>
      </div>
      <div class="commentParentDiv">
        <div class="commentBoxfloat"><form id="cmnt" novalidate="" class="ng-untouched ng-pristine ng-valid" style="
              margin: 0;
              padding: 0;
              box-sizing: border-box;
              border: 0;
              display: block;
          ">
            <fieldset style="
              padding: 10px;
              background: #69bdf4;
              display: block;
              -webkit-margin-start: 2px;
              -webkit-margin-end: 2px;
              -webkit-padding-before: 0.35em;
              -webkit-padding-start: 0.75em;
              -webkit-padding-end: 0.75em;
              -webkit-padding-after: 0.625em;
              min-width: -webkit-min-content;
          ">
              <div class="form_grp" style="
                margin-bottom: 10px;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                border: 0;
              ">
                <label style="
                  width: 100%;
                  height: 32px;
                  line-height: 32px;
                  display: block;
                  margin-bottom: 10px;
                  font-size: 18px;
                  color: #fff;
                  padding-left: 34px;
                  background: url(https://cdn3.iconfinder.com/data/icons/glypho-free/64/pen-checkbox-32.png) no-repeat left center;
                ">comment</label>
                <textarea placeholder="Write your comment here." [(ngModel)]="commentText" name="commentText" style="-webkit-appearance: textarea; background-color: white; -webkit-rtl-ordering: logical; flex-direction: column; resize: auto; cursor: text; white-space: pre-wrap; word-wrap: break-word; margin: 0px; width: 392px; height: 37px;"></textarea>
              </div>
              <div class="form_grp">
                <button (click)="submitComment()" style="
                  padding: 5px 20px;
                  background-color: #0e7ec7;
                  color: #fff;
                  float: right;
                ">Submit</button>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="comment" *ngFor="let comment of commentData; let k = index">
          <img [src]="comment.user.profilepic">
          <div class="comment-content"><p class="author"><strong>{{ comment.user.name }}</strong> - 10 minutes ago</p>
            <span>
              {{ comment.text }}
            </span>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
