.modal-dialog {
  max-width: 70%;
  margin: 1.75rem auto;
}
.pro_image {
  width: 50px;
  border-radius: 50%
}

/*---*/

.commentParentDiv {
  width:100%;
  padding-right: 15px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.comment{
  width:80%;
  padding:5px;
  margin:20px auto 0 auto;
}

.comment-content{
  float:left;
  margin:10px 0 0 20px;
  width:70%;
}

.comment-content > span{
  line-height:150%;
  color:#444;
  background:#f5f5f5;
  display:block;
  width:100%;
  padding:10px 15px 10px 15px;
  font-size:.9em;
  display:block;
  position:relative;
  border-radius:3px;
  box-shadow:
    1px 1px 3px rgba(0,0,0,.3);}

.comment-content > span:before{
  content:'';
  position:absolute;
  top:28px;
  left:-28px;
  display:block;
  width:0;
  height:0;
  border:1em solid #f5f5f5;
  border-color:transparent #f5f5f5 transparent transparent;
}

/*.comment p{
  font-family:'Open Sans';
  text-shadow:1px 1px 2px #fff;
}*/

.comment strong{font-weight:700;}
.comment .author{font-weight:300;font-size:.8em}

.comment img{
  float:left;
  max-width:9%;
  border-radius:50%;
  box-shadow:
    0 0 0 1px rgba(0,0,0,.2),
    0 0 0 7px rgba(200,200,200,1),
    0 0 0 9px rgba(175,175,175,1),
    0 0 20px rgba(0,0,0,.7);
  margin:20px 0 0 10px;
}
