<div class="modal-body">
    <div class="container-fluid">
        <div class="col-sm-12 modal-body">
            <div class="row">


                <div class="col-sm-8 col-md-8 col-xs-12 background" style="background: #131212;margin-top: 6px;border-radius: 10px;max-height: 736px;text-align: center;">

                    <img src="assets/img/123.jpg" style="max-height: 730px;width: 100%;padding: 85px;" />

                </div>
                <div class="col-sm-4 col-md-4 col-xs-12" style="border-radius: 10px;background:white;height: 730px;margin-top: -9px;">
                    <div class="content-div">
                        <div class="row text-info" style="padding: 3px 17px;">
                            <h3> Comment Section</h3>

                        </div>
                        <div class="row" style="padding: 3px 25px;height: auto;margin-bottom: 12px;">
                            <p>Here we all like or comment on any one</p>
                        </div>

                        <div class="row " style="color:grey">

                            <a class="col-md-2 col-xs-2" style="color:grey"><i class="fa fa-share-alt"></i></a>


                            <a class="col-md-2 col-xs-2" style="color:grey"><i class="fa fa-star"></i></a>


                            <a class="col-md-2 col-xs-2" style="color:grey"></a>


                            <a class="col-md-2 col-xs-2"></a>


                            <a class="col-md-2 col-xs-2"><img src="assets/images/icon/up.png" style="width: 15px;margin-top: -3px;" />
                            </a>


                            <a class="col-md-2 col-xs-2" style="color:grey"><i class="fa fa-signal icon_flip" ></i></a>

                        </div>

                        <div class="row" style="overflow-y: scroll;height: 512px;margin-top: 30px; position: relative;">
                            <div class="col-sm-12 col-md-12  ">
                                <div class="comment-section">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-2 col-xs-2">
                                            <div class="profile-div">
                                                <img src="assets/img/1.jpg" style="width:100%;border-radius:50%">
                                            </div>
                                        </div>
                                        <div class="col-sm-8 col-md-8 col-xs-8" style="margin-top: -11px;line-height: 0px;">
                                            <h4 style=""> sonali sona </h4>
                                            <p>dsadada</p>
                                        </div>
                                        <div class="col-md-2">
                                            <p style="float:right"> Date</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-4 col-md-2 col-xs-2">
                                            <div class="profile-div">
                                                <img src="assets/img/2.jpg" style="width:100%;border-radius:50%">
                                            </div>
                                        </div>
                                        <div class="col-sm-8col-md-8 col-xs-8" style="margin-top: -11px;line-height: 0px;">
                                            <h4> sonali sona </h4>
                                            <p>dsadaada</p>
                                        </div>
                                        <div class="col-md-2">
                                            <p style="float:right"> Date</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-4 col-md-2 col-xs-2">
                                            <div class="profile-div">
                                                <img src="assets/img/2.jpg" style="width:100%;border-radius:50%">
                                            </div>
                                        </div>
                                        <div class="col-sm-8 col-md-8 col-xs-8" style="margin-top: -11px;line-height: 0px;">
                                            <h4> sonali sona </h4>
                                            <p>dsadaada</p>
                                        </div>
                                        <div class="col-md-2 ">
                                            <p style="float:right"> Date</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-4 col-md-2 col-xs-2">
                                            <div class="profile-div">
                                                <img src="assets/img/2.jpg" style="width:100%;border-radius:50%">
                                            </div>
                                        </div>
                                        <div class="col-sm-8 col-md-8 col-xs-8" style="margin-top: -11px;line-height: 0px;">
                                            <h4> sonali sona </h4>
                                            <p>dsadaada</p>
                                        </div>
                                        <div class="col-md-2">
                                            <p style="float:right"> Date</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-4 col-md-2 col-xs-2">
                                            <div class="profile-div">
                                                <img src="assets/img/2.jpg" style="width:100%;border-radius:50%">
                                            </div>
                                        </div>
                                        <div class="col-sm-8 col-md-8 col-xs-8" style="margin-top: -11px;line-height: 0px;">
                                            <h4> sonali sona </h4>
                                            <p>dsadaada</p>
                                        </div>
                                        <div class="col-md-2">
                                            <p style="float:right"> Date</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-4 col-md-2 col-xs-2">
                                            <div class="profile-div">
                                                <img src="assets/img/2.jpg" style="width:100%;border-radius:50%">
                                            </div>
                                        </div>
                                        <div class="col-sm-8 col-md-8 col-xs-8" style="margin-top: -11px;line-height: 0px;">
                                            <h4> sonali sona </h4>
                                            <p>dsadaada</p>
                                        </div>
                                        <div class="col-md-2">
                                            <p style="float:right"> Date</p>
                                        </div>
                                    </div>
                                    <hr>


                                    <div class="row" style="bottom: 32px;position: fixed; width: 32%;">
                                        <input type="text" name="nam" placeholder="Enter Your Comment" style="margin-left:20px;height:40px;border-radius:5px;background-color:white;border: 1px solid grey;color:white;text-indent:10px;width: 74%;">
                                        <button name="sub" class="btn-info btn" style="height:35px;border-radius:5px;padding: 0px 10px;">Submit</button>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>