<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <div class="card polls_section">
        <img class="card-img-top" [src]="image" alt="Card image cap" *ngFor="let image of postData.files.images; let j = index">
        <div class="card-body">
          <h3 class="card-text text-info">{{ postData.title }}</h3>
          <div class="row">
            <div class="col-md-4">
                <span (click)="profileModal()" class="cur_point"><img [src]="postData.user.profilepic" class="pro_image"  /></span>
            </div>
            <div class="col-md-8">
              <p class="user_head">{{ postData.user.name }}<br>Place</p>
              <p style="float:right; margin-top:10px;">{{ postData.created }}</p>
            </div>
          </div>
          <!-- File Links to be opened in new Tabs  -->
          <div class="card-body">
              <p>{{postData.details}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="alert"
           [ngClass]="{ 'alert-success alert-dismissible': commentAlert == 1,
                        'alert-danger alert-dismissible': commentAlert == -1
                      }"
           *ngIf="commentAlert != 0">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p *ngIf="commentAlert == 1"> Comment Submitted </p>
        <p *ngIf="commentAlert == -1"> Please Try Again!! </p>
      </div>
      <div class="commentParentDiv">
        <div>
          <!-- <form novalidate="" class="formClass ng-untouched ng-pristine ng-valid"> -->
          <fieldset class="fieldClass textField">
            <div class="fieldDiv">
              <textarea placeholder="Write your comment here." [(ngModel)]="commentText" name="commentText" (keydown)="checkSubmit($event)" class="fieldTextArea"></textarea>
            </div>
            <div>
              <span class="commentInstructions">Press Enter to post.</span>
            </div>
          </fieldset>
          <!-- </form> -->
        </div>
        <div *ngFor="let comment of commentData; let k = index">
          <fieldset class="fieldClass commentField">
            <div class="row">
              <div class="col-md-2">
                <img class="comment_profile" [src]="comment.user.profilepic">
              </div>
              <div class="col-md-10">
                <span> {{ comment.text }} </span>
                <div class="footer">
                  <p class="author"><strong>{{ comment.user.name }}</strong> - {{ comment.dashTimeAgo }}</p>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <!-- <div class="comment" *ngFor="let comment of commentData; let k = index">
          <img [src]="comment.user.profilepic">
          <div class="comment-content"><p class="author"><strong>{{ comment.user.name }}</strong> - 10 minutes ago</p>
            <span>
              {{ comment.text }}
            </span>
          </div>
          <br>
        </div> -->
      </div>
    </div>
  </div>
</div>
