.modal-dialog {
  max-width: 70%;
  margin: 1.75rem auto;
}
.pro_image {
  width: 50px;
  border-radius: 50%
}
/*---*/
.comment_profile {
  width: 50px;
  border-radius: 50%
}

.formClass {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  display: block;
}

.fieldClass {
  padding: 6px;
  display: block;
  min-width: -webkit-min-content;
}

.commentField {
  border-top: 1px dotted black;
  background: #6b9ebb;
}

.textField {
  background: #6a8394;
}

.fieldDiv {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

.fieldTextArea {
  -webkit-appearance: textarea;
  -webkit-rtl-ordering: logical;
  background-color: white;
  flex-direction: column;
  max-width: 100%;
  cursor: text;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0px;
  width: 100%;
  height: 57px;
}

.submitButton {
  padding: 5px 20px;
  background-color: #0e7ec7;
  color: #fff;
  float: right;
}

.commentInstructions{
  font-size: 10px;
  font-family: Bitter;
  float: right;
}

.author {
  font-size: 9px;
  float: right;
}

.footer {
    width:100%;
    bottom: 0;
}
