.analytics-bar-button {
    background: radial-gradient(#ff5252 1%, #ff0000 99%);;
    border-radius: 50%;
    display: inline-block;
    width: 11px;
    height: 14px;
    border: 1px solid #bdbdbd;
    cursor: pointer;
    float: right;
    position: relative;
    top: -13px;
    right: 1px;
    z-index: 1;
}