<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">
      <button class="enact-feeds-tabs news">
        <i class="fa fa-angle-down"></i>
      </button>

      <div class="row enact-feeds-tabs-sub-menu">
        <div class="col-md-12 list-group">
            <a href="#" class="list-group-item list-group-item-action">Trending</a>
            <a href="#" class="list-group-item list-group-item-action">Search by Date</a>
            <a href="#" class="list-group-item list-group-item-action">Most Voted</a>          
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <button class="enact-feeds-tabs courts">
        <i class="fa fa-balance-scale" style="color: #264771;"></i>&nbsp;Courts 
        <i class="fa fa-angle-down"></i>
      </button>
    </div>
    <div class="col-md-4">
      <button class="enact-feeds-tabs discussions">
        <img src="assets/img/discussion_icon.svg" style="width: 20px;" >&nbsp;Discussions
        <i class="fa fa-angle-down"></i>
      </button>
    </div>
    <div class="col-md-3">
      <button class="enact-feeds-tabs news">
        <i class="fa fa-newspaper-o" style="color: #264771;"></i>&nbsp;News
        <i class="fa fa-angle-down"></i>
      </button>
    </div>
  </div>
</div>