.col-md-4, .col-md-3, .col-md-1 {
    padding: 0;
    overflow: hidden;
}

.enact-feeds-tabs {
    background: transparent;
    border: 2px solid black;
    width: 100%;
    border-top: none;
    padding: 4px 0;
    cursor: pointer;
    font-size: 20px;
    display: block;
}

.enact-feeds-tabs-sub-menu {
    background: #143233;
    padding-left: 20px;
}
