<div class="container-fluid" [ngStyle]="{'background': barBackgroundColor}">
  <div class="row">
    <div class="col-md-6">
      <button class="toggle-menu" (click)="openSideMenu()"><i class="fa fa-bars"></i></button>
      &nbsp;
      <span>{{currentLocation}}</span>
    </div>
    <div class="col-md-6" style="text-align: right;">
      <button class="breadcrumb-bar-button" (click)="toggleGovtDept()"><small>Govt. Departments</small><br/><i class="fa fa-angle-down"></i></button>
      <button class="breadcrumb-bar-icon" (click)="addContextFavLoction()" [ngStyle]="{'color': favLocationIconColor}"><i class="fa fa-star"></i></button>
      <button class="enact-button" (click)="showEnactPopup()">ENACT</button>
      <button class="breadcrumb-bar-icon"><i class="fa fa-commenting-o"></i></button>
    </div>
  </div>

  <!-- Enact Popup -->
  <div #enactPopupContainer></div>

  <!-- Government Departments list -->
  <div class="row" *ngIf="govtDeptToggled">
    <div class="col-md-12">
      <app-govt-dept-list-grid></app-govt-dept-list-grid>
    </div>
  </div>

  <!-- Side Menu Opened by Hamburger menu -->
  <div class="side-menu" [ngStyle]="{'width': sidebarWidth}" *ngIf="sideMenuToggled">
    <div class="row">
      <div class="col-md-12" style="text-align: right;">
        <button class="close-button" (click)="closeSideMenu()"><i class="fa fa-close"></i></button>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-12">
        <div class="list-group">
          <a href="#" class="list-group-item-action">About Us</a>
          <a href="#" class="list-group-item-action">Privacy Policy</a>
          <a href="#" class="list-group-item-action">Terms of Use</a>
          <a href="#" class="list-group-item-action">Settings</a>
          <a href="#" class="list-group-item-action">Feedback</a>
          <a href="#" class="list-group-item-action">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</div>
