.container-fluid {
    /* background: #1e4372; */
    padding: 5px 0;
    color: #ffffff;
}

.toggle-menu {
    background: transparent;
    border: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.enact-button {
    background: linear-gradient(#ebf904, #ff9703);
    border: none;
    padding: 5px 20px;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}

button.breadcrumb-bar-icon, .breadcrumb-bar-button {
    background: transparent;
    border: none;
    color: #ffffff;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 25px;
}

.breadcrumb-bar-button {
    padding: 2px 25px;
    position: relative;
    line-height: 0.75;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    top: -10px;
    font-size: 19px;
}

.side-menu {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    background: #1e4372;
    height: 100vh;
    z-index: 9;
    padding: 10px;
    box-shadow: #1e4372 1px 0px 10px 1px;
    transition: width 0.5s ease;
}

.side-menu .close-button {
    background: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.list-group-item-action {
    padding: 5px 0;
}