<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <button class="toggle-menu"><i class="fa fa-bars"></i></button>
      &nbsp;
      <span>15 Canal Road, Dehradun</span>
    </div>
    <div class="col-md-6" style="text-align: right;">
      <button class="breadcrumb-bar-icon"><i class="fa fa-star"></i></button>
      <button class="enact-button">ENACT</button>
      <button class="breadcrumb-bar-icon"><i class="fa fa-commenting-o"></i></button>
    </div>
  </div>
</div>