.container {
    margin-top: 67px; // To Be Fixed 
    width: 100%;
}

.enact-feeds-tabs-sub-menu {
    /*background: #143233;*/
    padding-left: 20px;
    padding-top: 15px;
}

.list-group-item-action:hover, .list-group-item-action.active {
    color: #000000;
    background: #f3f3f3;
    cursor: pointer;
}

.list-group-item-action {
    color: #000000;
}

.feed-backgroud {
  padding-top: 15px;
  /*background: #f7f8fa;*/
}
