<div class="container">
  <div class="row">
    <div class="col-md-3 enact-feeds-tabs-sub-menu">
      <div class="list-group">
        <a class="list-group-item list-group-item-action active" (click)="changePostType('court')">
          <i class="fa fa-balance-scale" style="color: #264771;"></i>&nbsp;Courts
        </a>
        <a class="list-group-item list-group-item-action" (click)="changePostType('discussion')">
            <img src="assets/img/discussion_icon.svg" style="width: 20px;" >&nbsp;Discussion
        </a>
        <a class="list-group-item list-group-item-action" (click)="changePostType('news')">
            <i class="fa fa-newspaper-o" style="color: #264771;"></i>&nbsp;News
        </a>
      </div>
      <div class="list-group">
        <a class="list-group-item list-group-item-action" style="font-size: .9rem">
          <strong>Filters</strong>
        </a>
        <a class="list-group-item list-group-item-action" (click)="filter('most_upvoted')" style="font-size: .9rem">
          <i class="fa fa-thumbs-up" style="color: #264771"></i>&nbsp;Most Upvotes
        </a>
        <a class="list-group-item list-group-item-action" (click)="filter('sort_datetime')" style="font-size: .9rem">
          <i class="fa fa-calendar" style="color: #264771" ></i>&nbsp;DateTime
        </a>
      </div>
    </div>
    <div class="col-md-9">
      <app-enact-cards [mcph]="mcph" [posttype]="postType" [filter]="filterBy"></app-enact-cards>
    </div>
  </div>
</div>
