<div class="container">
  <div class="row">
    <div class="col-md-3 enact-feeds-tabs-sub-menu">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
          <i class="fa fa-balance-scale" style="color: #264771;"></i>&nbsp;Courts 
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <img src="assets/img/discussion_icon.svg" style="width: 20px;" >&nbsp;Discussion 
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <i class="fa fa-newspaper-o" style="color: #264771;"></i>&nbsp;News 
        </a>
      </div>
    </div>
    <div class="col-md-9">
      <app-poll-cards></app-poll-cards>
    </div>
  </div>
</div>