<div class="scroll-div">
  <ul>
    <li><a href="#">Department of Finance</a></li>
    <li><a href="#">Department of Finance</a></li>
    <li><a href="#">Department of Finance</a></li>
    <li><a href="#">Department of Finance</a></li>
    <li><a href="#">Department of Finance</a></li>
    <li><a href="#">Department of Finance</a></li>
    <li><a href="#">Department of Finance</a></li>
    <li><a href="#">Department of Finance</a></li>
    <li><a href="#">Department of Finance</a></li>
    <li><a href="#">Department of Finance</a></li>
    <li><a href="#">Department of Finance</a></li>
    <li><a href="#">Department of Finance</a></li>
    <li><a href="#">Department of Finance</a></li>
  </ul>
</div>