<!-- <div class="modal-header">
    <h4 class="modal-title">Create New </h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div> -->

<div class="modal-body">

    <div class="row">
        <div class="col-md-5 " style="background:yellow"><br><br>
            <div class="">
                <img src="assets/img/12.jpg" style="width: 65%;
      border-radius: 50%;
      margin-left: 43px;" class="img-responsive" />
            </div>
            <div class="row">
                <a href="#">
                    <h4 class="txt_center"> Name</h4>
                </a>
                <p class="txt_center">POST</p>
                <p style="margin: 0 26px 10px;"> 21, asda a dfs dehradun</p>
            </div>
            <div class="row " style="padding: 14px;">

                <p>Addredss fds fs s dsdfsfsfds dsfsfs s dfsfdsfs </p>
            </div>
            <div class="row" style="height:68px">
                <div class="col-md-4 col-xs-4" style="border-top:2px solid #c2c508;border-bottom:2px solid #c2c508">
                    <p class="txt_center"><span style="font-weight:600">1000</span> Courts
                    </p>
                </div>
                <div class="col-md-4 col-xs-4" style="border:2px solid #c2c508">
                    <p class="txt_center"><span style="font-weight:600">1000</span> Discussion
                    </p>
                </div>
                <div class="col-md-4 col-xs-4" style="border-top:2px solid #c2c508;border-bottom:2px solid #c2c508">
                    <p class="txt_center"> <span style="font-weight:600">1000</span> News
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-2"></div>
                <span class="col-md-8 col-xs-8" style="font-weight:600">User Rating</span>
                <br><br>
            </div>
            <div class=" text-center">
                <button class=" btn btn-info">Follow</button> <br>

            </div>

        </div>
        <div class="col-md-6 profile_module">
            <div>

                <div class="card polls_section">
                    <div class="row" style="margin-bottom: 4px;">
                        <div class="col-md-2 col-xs-3 col-sm-3">
                            <a href="#" data-toggle="modal" data-target="#profile"><img src="assets/img/12.jpg" class="pro_image" /></a>
                        </div>
                        <div class="col-md-10 col-xs-9 col-sm-9">
                            <p class="user_head">Name<br>Place</p>
                            <p style="float:right;margin-top: 10px;">Date</p>
                        </div>
                    </div>
                    <img class="card-img-top" src="../assets/img/55.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-text text-info">Some quick example text to build on the card title and make up the bulk of the card's content.</h4>
                    </div>

                    <div> <a href=""><span style="float:right;margin-right: 7px;"><i style="font-size: 17px;" class="fa fa-question-circle"></i></span></a></div>

                    <div class="row " style="color:grey">

                        <a class="col-md-2 col-xs-2" style="color:grey"><i class="fa fa-share-alt"></i></a>


                        <a class="col-md-2 col-xs-2" style="color:grey"><i class="fa fa-star"></i></a>


                        <span class="col-md-2 col-xs-2" style="color:grey" (click)="commentModal()"><i class="fa fa-comment"></i></span>


                        <a class="col-md-2 col-xs-2" style="color:grey"><i class="fa fa-arrow-alt-up"></i></a>


                        <a class="col-md-2 col-xs-2" style="color:grey"><i class="fa fa-flag"></i></a>


                        <a class="col-md-2 col-xs-2" style="color:grey"><i class="fa fa-signal icon_flip" ></i></a>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>