<div class="container">
  <div>
    <fieldset class="fieldClass textField">
      <div class="fieldDiv">
        <textarea placeholder="Write your Answer here." [(ngModel)]="commentText" name="commentText" (keydown)="checkSubmit($event)" class="fieldTextArea"></textarea>
      </div>
      <div>
        <span class="commentInstructions">Press Enter to post.</span>
      </div>
    </fieldset>
  </div>

  <div class="row">
    <div class="col-md-12" *ngFor="let comment of commentData; let k = index">
      <div class="comment-block" >
        <!-- Profile Pic area -->
        <div class="profile-picture">
          <img [src]="comment.user.profilepic" />
        </div>

        <div class="detail">
          <div class="name">{{ comment.user.name }}</div> - {{ comment.dashTimeAgo }}
          <div class="comment-string">{{ comment.text }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
